name: Pipeline CI/CD MLops

on:
  pull_request:
    branches: [ dev ]
  push:
    branches: [ dev ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - run: python -m pip install --upgrade pip

      - run: pip install -r ./Python/puntaje_credito/requerimientos.txt

      - run: pip install pytest

      - run: pytest -v
